In [ ]:
import pandas as pd

# Charger le fichier CSV
data = pd.read_csv("./Data/Echantillon.csv", delimiter=",")

In [ ]:
# Afficher les types de variables du DataFrame
print(data.dtypes)

event_time        object
event_type        object
product_id         int64
category_id        int64
category_code     object
brand             object
price            float64
user_id            int64
user_session      object
dtype: object

In [ ]:
# Convertir la colonne 'event_time' au format datetime
data['event_time'] = pd.to_datetime(data['event_time'])

# Pour afficher uniquement la date lors de l'affichage
data['event_time'] = data['event_time'].dt.normalize()  # Cela garde le type datetime sans heures

# Vérifier les données
print(data.dtypes)
print(data.head())

event_time       datetime64[ns, UTC]
event_type                    object
product_id                     int64
category_id                    int64
category_code                 object
brand                         object
price                        float64
user_id                        int64
user_session                  object
dtype: object
                 event_time event_type  product_id          category_id  \
0 2019-10-01 00:00:00+00:00       view    44600062  2103807459595387724
1 2019-10-01 00:00:00+00:00       view     3900821  2053013552326770905
2 2019-10-01 00:00:00+00:00       view    17200506  2053013559792632471
3 2019-10-01 00:00:00+00:00       view     1307067  2053013558920217191
4 2019-10-01 00:00:00+00:00       view     1004237  2053013555631882655

                         category_code     brand    price    user_id  \
0                                  NaN  shiseido    35.79  541312140
1  appliances.environment.water_heater      aqua    33.20  554748717
2           furniture.living_room.sofa       NaN   543.10  519107250
3                   computers.notebook    lenovo   251.74  550050854
4               electronics.smartphone     apple  1081.98  535871217

                           user_session
0  72d76fde-8bb3-4e00-8c23-a032dfed738c
1  9333dfbd-b87a-4708-9857-6336556b0fcc
2  566511c2-e2e3-422b-b695-cf8e6e792ca8
3  7c90fc70-0e80-4590-96f3-13c02c18c713
4  c6bd7419-2748-4c56-95b4-8cec9ff8b80d